form > div{
    position: relative;
}

span.material-symbols-outlined.password-visibility-off, span.material-symbols-outlined.password-visibility-on {
    position: absolute;
    top: 43px;
    right: 15px;
    cursor: pointer;
}

#title {
    text-align: center;
}

.display-none {
    display: none !important;
}
