@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --font-family: Poppins, Arial, Helvetica, sans-serif;
    --primary-text-color: #0d0c22;
    --secondary-text-color: rgb(55, 55, 55);
    --btn-text-color: #fff;
    
    --input-border-color: rgba(110, 109, 122, 0.4);
    --btn-hover-color: #565564;
    --btn-anabled-bg-color: #0d0c22;
    --btn-desabled-bg-color: #565564;
    
    --box-shadow-focused-color: rgba(13, 12, 34, 0.5);
    --box-shadow-hover-color: rgba(234, 100, 217, 0.2);
}